* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Noto Sans Regular", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(14, 59, 155, 0.2));
    /* border-bottom: 3px solid #000; */
    color: #ffffff;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    border: 1px solid #111;
    border-radius: 20px;
    margin: 0px;
    font-weight: bolder;
}

#workspaces button {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 7px;
    border-radius: 20px;
    border: 1px solid #333;
    margin: 4px 4px;
    color: #2fc2f1;
}

#workspaces button:hover {
    color: #ffffff; 
}

#workspaces button.active {
    padding: 1 7px;
    margin: 4px;
    border-radius: 20px;
    background-color: rgba(30, 30, 42, 0.5);
    border: 1px solid #fff;
    color: #ffffff;
}

#workspaces button.empty {
    color: #a7a7a7;
    font-weight: bolder;
}

#workspaces button.urgent {
    /*background:linear-gradient(to right, rgba(200, 130, 130, 0.8 ), rgba(250, 230, 230, 0.8));*/
    border: 1px solid #dd7777;
    color: #FFF;
}


#workspaces button.visible {
    background:linear-gradient(to right, #90CDE8, #fff);
    color: #222;
}

#window {
    background-color: rgba(10, 10, 22, 0.5);
    padding: 4px 7px;
    border-radius: 20px;
    border: 1px solid #111;
    margin: 3px 4px;
    color: #fff;    
}


#cpu{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(30, 30, 42, 0.5);
    border-left: 1px solid #222;
    border: 1px solid #111;
    padding: 0 10px;
    margin: 4px 0px;
}

#memory {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #111;
    background-color: rgba(30, 30, 42, 0.5);
    padding: 0 10px;
    margin: 4px 0px;
}


#pulseaudio{
    padding: 0 10px;
    margin: 4px 4px 4px 4px;
    border-radius: 20px;
    background-color: rgba(30, 30, 42, 0.5);
    border: 1px solid #111;
    color: #ffffff;
}

#custom-power{
    padding: 0 11px;
    margin: 4px 0px 4px 0px;
    border-radius: 20px;
    background: linear-gradient(to top, rgba(20, 20, 20, 1.0), rgb(100, 102, 250));
    border: 1px solid #111;
    color: #ffffff;
}

#custom-wallpaper,
#clock,
#tray {
    padding: 0 10px;
    margin: 4px;
    border-radius: 20px;
    background-color: rgba(30, 30, 42, 0.5);
    border: 1px solid #111;
    color: #ffffff;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #222000;
    }
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* Hover effects */
#custom-wallpaper:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#clock:hover,
#tray:hover {
	background: #303040;
}

#custom-power:hover {
    background: linear-gradient(to right, rgba(40, 20, 20, 1.0), rgba(250, 50, 50, 1.0));	
}